<div class="row mt-4">
  <div class="col-12">

        <h2>Categories</h2>
        <ngx-datatable #categoryTable
                       class="material"
                       [columnMode]="'force'"
                       [headerHeight]="65"
                       [footerHeight]="50"
                       [rowHeight]="'auto'"
                       [limit]="10"
                       [rows]="categories"
                       [sorts]="[{prop: 'id', dir:'acs'}]">

          <!--Column Templates-->
          <ngx-datatable-column name="Edit"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false"
                                [maxWidth]="80"
          >
            <ng-template let-row="row" ngx-datatable-header-template>
              Edit
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="text-center">
                <i class="btn fa fa-pencil-square-o fa-lg" (click)="openModal(row)" title="Edit Message Template"></i>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Id"
                                prop="id"
                                [resizeable]="false"
                                [sortable]="true"
                                [draggable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column name="Name"
                                prop="name"
                                [resizeable]="false"
                                [sortable]="true"
                                [draggable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column name="Description"
                                prop="description"
                                [resizeable]="false"
                                [sortable]="true"
                                [draggable]="false">
          </ngx-datatable-column>

          <ngx-datatable-column name="Add"
                                [maxWidth]="80"
                                [resizeable]="false"
                                [sortable]="false"
                                [draggable]="false">
            <ng-template let-row="row" ngx-datatable-header-template>
              <div class="pull-right">
                <i class="btn btn-success" (click)="onNew()" title="Add Category">
                  <span class="fa fa-plus fa-lg"></span>
                </i>
              </div>

            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <i class="btn fa fa-trash fa-lg pull-right"
                 (click)="deleteItem(row.id,$event)" title="Delete Message Template"></i>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

  </div>
</div>