<div class="row mt-4">
  <div class="col-12">
    <h2>Tickets</h2>
    <ngx-datatable #categoryTable
                   class="material"
                   [columnMode]="'force'"
                   [headerHeight]="65"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [limit]="10"
                   [scrollbarH]="true"
                   [rows]="tickets"
                   [sorts]="[{prop: 'id', dir:'acs'}]">

      <!--Column Templates-->
      <ngx-datatable-column name="Edit"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [minWidth]="80"
                            [maxWidth]="80"
      >
        <ng-template let-row="row" ngx-datatable-header-template>
         Edit
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="text-center">
            <i class="btn fa fa-pencil-square-o fa-lg" (click)="ticketDetail(row)" placement="right" ngbTooltip="Veiw/Edit Ticket"></i>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Id"
                            prop="ticket_id"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column name="Category"
                            prop="category"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span placement="bottom" ngbTooltip="{{value.description}}">{{value.name}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Priority"
                            prop="priority"
                            [minWidth]="100"
                            [maxWidth]="100"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="color-att"  placement="bottom" ngbTooltip="{{value.description}}" [ngStyle]="setStyle(value.color)">{{value.name}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title"
                            prop="title"
                            [minWidth]="600"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
      </ngx-datatable-column>


      <ngx-datatable-column name="Status"
                            prop="status"
                            [minWidth]="100"
                            [maxWidth]="100"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="color-att" placement="bottom" ngbTooltip="{{value.description}}" [ngStyle]="setStyle(value.color)">{{value.name}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Add"
                            [minWidth]="80"
                            [maxWidth]="80"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false">
        <ng-template let-row="row" ngx-datatable-header-template>
          <div class="pull-right">
            <i class="btn btn-success" (click)="newTicket()" title="Add Ticket">
              <span class="fa fa-plus fa-lg"></span>
            </i>
          </div>

        </ng-template>
        <ng-template *ngIf="currentUser.is_admin" let-row="row" ngx-datatable-cell-template>
          <i class="btn fa fa-trash fa-lg pull-right"
             (click)="deleteItem(row,$event)" placement="bottom" ngbTooltip="Delete Ticket"></i>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>