<div class="row mt-4">
  <div class="col-12">

    <h3>Tickets</h3>
    <ngx-datatable #categoryTable
                   class="material"
                   [columnMode]="'force'"
                   [headerHeight]="65"
                   [footerHeight]="50"
                   [rowHeight]="'auto'"
                   [limit]="10"
                   [rows]="statuses"
                   [sorts]="[{prop: 'id', dir:'acs'}]">

      <!--Column Templates-->
      <ngx-datatable-column name="Id"
                            prop="ticket_id"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column name="Category"
                            prop="category"
                            [maxWidth]="100"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span data-toggle="tooltip" title="{{value.description}}">{{value.name}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Priority"
                            prop="priority"
                            [maxWidth]="100"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="color-att" data-toggle="tooltip" title="{{value.description}}" [ngStyle]="setStyle(value.color)">{{value.name}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Title"
                            prop="title"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column name="Description"
                            prop="description"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
      </ngx-datatable-column>

      <ngx-datatable-column name="Status"
                            prop="status"
                            [maxWidth]="100"
                            [resizeable]="false"
                            [sortable]="true"
                            [draggable]="false">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="color-att" data-toggle="tooltip" title="{{value.description}}" [ngStyle]="setStyle(value.color)">{{value.name}}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Add"
                            [maxWidth]="80"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false">
        <ng-template let-row="row" ngx-datatable-header-template>
          <div class="pull-right">
            <i class="btn btn-success" title="Add Status">
              <span class="fa fa-plus fa-lg"></span>
            </i>
          </div>

        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>
</div>