<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="home">Support Tickets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{ 'active': isActiveComponent('Tickets') }">
        <a class="nav-link" (click)="setVisibleComponent('Tickets')">Tickets</a>
      </li>
      <li class="nav-item" *ngIf="currentUser.is_admin" [ngClass]="{ 'active': isActiveComponent('Users')}">
        <a class="nav-link"  (click)="setVisibleComponent('Users')">Manage Users</a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentUser.is_admin" [ngClass]="{ 'active': isActiveComponent('Categories') || isActiveComponent('Priorites') || isActiveComponent('Statuses') }">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Manage Support Settings
        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="settingsDropdown">
          <a class="dropdown-item" (click)="setVisibleComponent('Categories')">Categories</a>
          <a class="dropdown-item" (click)="setVisibleComponent('Priorities')">Priorities</a>
          <a class="dropdown-item" (click)="setVisibleComponent('Statuses')">Statuses</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi, {{currentUser.first_name}}
        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="ticketDropdown">
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>

<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-lg-12 col-md-12 col-sm-12 col-12">
      <app-tickets *ngIf="isActiveComponent('Tickets')"></app-tickets>
      <app-users *ngIf="isActiveComponent('Users')"></app-users>
      <app-categories *ngIf="isActiveComponent('Categories')"></app-categories>
      <app-priorities *ngIf="isActiveComponent('Priorities')"></app-priorities>
      <app-statuses *ngIf="isActiveComponent('Statuses')"></app-statuses>
    </main>
  </div>

</div>