<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="login-box" style="margin:15px">
      <img src="../../../assets/images/logo-campus-wellness-app.png" class="mx-auto d-block" style="width:180px" />
      <div class="login-title" style="margin:15px">Please Reset Your Password</div>
      <form name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
          <label class="form-control-label" for="email">Email</label>
          <input type="text" class="form-control" id="email" name="email"
                 [(ngModel)]="model.email"
                 [ngClass]="{ 'is-invalid': f.submitted && !username.valid }"
                 #username="ngModel" required />
          <div *ngIf="f.submitted && !username.valid" class="help-block invalid-feedback">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
          <label class="form-control-label" for="password">New Password</label>
          <input type="password"
                 class="form-control"
                 id="password"
                 name="password"
                 [(ngModel)]="model.password"
                 [ngClass]="{ 'is-invalid': f.submitted && !password.valid }"
                 #password="ngModel"
                 required
                 minlegth="8"/>
          <div *ngIf="f.submitted && !password.valid" class="help-block invalid-feedback">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !confirmPassword.valid }">
          <label class="form-control-label" for="confirmPassword">Confirm New Password</label>
          <input type="password"
                 class="form-control"
                 id="confirmPassword"
                 name="confirmPassword"
                 [(ngModel)]="model.confirmPassword"
                 [ngClass]="{ 'is-invalid': f.submitted && !confirmPassword.valid }"
                 #confirmPassword="ngModel"
                 required
                 minlength="8"  />
          <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block invalid-feedback">Confirm Password is required and must match password.</div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Reset Password</button>

        </div>
      </form>
    </div>
  </div>
</div>